@model SmartASSWeb.Bll.BusinessCard
<div class="row business-card" style="min-height: 400px">
    <div class="col-md-4" style="background-color: white;">
        <img src="~/assets/images/SmartASSLogoH.PNG" alt="Company Logo" class="justify-content-center center" style="margin-top: 30px; max-height: 200px; max-width: 200px;" />
        <img src="@Model.ProfileImage" alt="Profile Image" class="rounded-circle center" width="200" style="margin-top: 10px; margin-bottom: 20px; max-height: 200px; max-width: 200px; height: 200px; width: 200px;" />
    </div>
    <div class="col-md-8" style="background-color: #008C8D; padding: 30px 30px 20px 30px">
        <div style="font-size: 40px; color: white; font-family:BebasNeue-Bold"><strong>@Model.ProfileFullName</strong></div>
        <div style="font-size: 20px; color: white; font-family: BebasNeue-Regular; margin-top: -10px;"><strong>@Model.Title</strong></div>
        <hr style="background-color: white" />
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: white; font-family: BebasNeue-Regular;margin-top: 10px">CONTACT</h2>
                <div style="font-size: 14px; color: white; font-family: Verdana"><i class="fas fa-phone-alt"></i><span> @Model.Phone1</span></div>
                <div style="font-size: 14px; color: white; font-family: Verdana"><i class="fas fa-mobile-alt"></i><span> &nbsp;@Model.Mobile</span></div>
                <div style="font-size: 14px; color: white; font-family: Verdana"><i class="fas fa-envelope"></i><span> @Model.Email</span></div>
                <div style="font-size: 14px; color: white; font-family: Verdana"><i class="fas fa-globe"></i><span> @Model.Website</span></div>
            </div>
            <div class="col-md-6">
                <h2 style="color: white; font-family: BebasNeue-Regular;margin-top: 10px"><i class="fas fa-map-marker-alt"></i>ADDRESS</h2>
                <div style="font-size: 14px; color: white; font-family: Verdana"><span>@Model.Address1,</span></div>
                @if (Model.Address2 != string.Empty)
                {
                    <div style="font-size: 14px; color: white; font-family: Verdana"><span>@Model.Address2</span></div>
                }
                <div style="font-size: 14px; color: white; font-family: Verdana"><span>@Model.City, @Model.Province. @Model.PostalCode</span></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <ul class="socialMediaIcon " style="list-style: none; padding-inline-start: 0 !important; margin-top: 10px;">
                @if (!string.IsNullOrEmpty(@Model.SocialLinkedUrl))
                {
                    <li class="linkedin "><a target="_blank" class="linkedin " href="@Model.SocialLinkedUrl" rel="noopener noreferrer" data-tooltip="toggle" title="LinkedIn">LinkedIn</a></li>
                }
                @if (!string.IsNullOrEmpty(@Model.SocialFacebookUrl))
                {
                    <li class="facebook "><a target="_blank" href="@Model.SocialFacebookUrl" rel="noopener noreferrer" data-tooltip="toggle" title="Facebook">Facebook</a></li>
                }
                @if (!string.IsNullOrEmpty(@Model.SocialTwitterUrl))
                {
                    <li class="twitter "><a target="_blank" href="@Model.SocialTwitterUrl" rel="noopener noreferrer" data-tooltip="toggle" title="Twitter">Twitter</a></li>
                }
                @if (!string.IsNullOrEmpty(@Model.SocialInstagramUrl))
                {
                    <li class="instagram "><a target="_blank" href="@Model.SocialInstagramUrl" rel="noopener noreferrer" data-tooltip="toggle" title="Instagram">Instagram</a></li>
                }
                @if (!string.IsNullOrEmpty(@Model.SocialYoutubeUrl))
                {
                    <li class="youtube "><a target="_blank" href="@Model.SocialYoutubeUrl" rel="noopener noreferrer" data-tooltip="toggle" title="Youtube">You Tube</a></li>
                }
            </ul>
        </div>
    </div>
</div>