@using SmartASSWeb.Bll
@model SmartASSWeb.ViewModels.SearchContactsViewModel
@{
    ViewBag.Title = "Profile Statistics";
}
@section Heads
{
    <link href="@Url.Content("~/assets/libs/morris.js/morris.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/libs/chartist/dist/chartist.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/js/pages/chartist/chartist-init.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/extra-libs/css-chart/css-chart.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/extra-libs/c3/c3.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/extra-libs/prism/prism.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/libs/dragula/dist/dragula.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/libs/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css">
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">Profile Statistics</h3>
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Profile Statistics</li>
        </ol>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
@using (Ajax.BeginForm("Search", "SearchContacts",
    new {@class = "form-horizontal mt-4", role = "form", id = "searchEditor"},
    new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        LoadingElementId = "preloader"
    }))
{
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.SearchText, new { @class = "form-control", @placeholder = "Search Contact", aria_label = "", aria_describedby = "basic-addon1" })
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit" onclick=""><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="searchPanel" class="row">
        @Html.Partial("SearchPanel", Model)
    </div>
</div>
}
@section scripts
{
    <script type="text/javascript">
        function RequestUser(userId) {
            $.ajax({
                url: '@Url.Action("SendRequest", "SearchContacts")?requestedUserId=' + userId,
                type: 'POST',
                cache: false,
                async: true,
                //data: $("#WizardForm").serialize(),
                success: function(data) {
                    toastr.success('Request Sent!');
                },
                error: function(data) {
                    alert('Error occurred');
                }
            });
        }

        function OnSuccess(data) {
            $('#searchPanel').html(data);
            
            toastr.success('Result(s) returned!', 'Search Results');
        }

        function OnFailure() {
            toastr.error('Error Occurred!');
        }
    </script>
}
